
@{
 var clubs = ViewData["clubs"] as List<ComputerClub.Models.Club>;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @clubs.First().Name</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="header-div">
        <header>
            <div class="image-div">
                <a href="/">
                    <img src="http://cyberzone.kiev.ua/img/logo.png">
                </a>
            </div>
            <div class="nav-div">
                @Html.ActionLink("Ціни", "Price", "Club")
                @Html.ActionLink("Режим роботи", "Schedule", "Club")
                <a href="#">Забронювати місце</a>
                @Html.ActionLink("Візити", "Visits", "Event")
            </div>
            <div class="login-div">
                @Html.Partial("_LoginPartial")
            </div>
        </header>
    </div>


    <div class="main-container">
        @RenderBody()
    </div>



    <div class="footer-div">
        <footer>
            <div class="copyright-div">
                <p>
                    Copyright © 2012-2019
                    <span class="site-name">@clubs.First().Name</span>.
                    All rights reserved Копіювання
                    інформації без прямої активної
                    гіперсилки на www.cyberzone.ua
                    заборонено
                </p>
            </div>
            <div class="footer-nav">
                @Html.ActionLink("Ціни", "Price", "Club")
                @Html.ActionLink("Режим роботи", "Schedule", "Club")
                <a href="#">Забронювати місце</a>
            </div>
            <div class="address-div">
                <p>
                    <span class="address-title">Адреса:</span>
                    @clubs.First().Street  @clubs.First().House
                    @clubs.First().Flat
                    <span class="address-title">телефон:</span>
                    @clubs.First().Phone
                    <span class="address-title">Режим роботи:</span>
                    @clubs.First().Schedule
                </p>
            </div>
        </footer>
    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)
</body>
</html>
