<div class="left-menu">
    @Html.ActionLink("Візити", "Index", "Visit")
    @Html.ActionLink("Участь у івентах", "Index", "EventParticipation")
    @Html.ActionLink("Усі івенти", "Index", "Event")
    @Html.ActionLink("Усі ігри", "Index", "Game")
    @Html.ActionLink("Усі платформи", "Index", "Platform")
    @Html.ActionLink("Ціни", "Index", "Price")
    @Html.ActionLink("Режим роботи", "index", "Schedule")
    @Html.ActionLink("Забронювати місце", "Create", "Visit")

    @if (Roles.IsUserInRole("Admin"))
    {
        <span class="admin-span">Admin Area</span>
        @Html.ActionLink("Клуб", "Index", "Club")
        @Html.ActionLink("Зали", "Index", "Hall")
        @Html.ActionLink("Жанри", "Index", "Genre")
        @Html.ActionLink("Типи івентів", "Index", "EventType")
        @Html.ActionLink("Типи відвідувачів", "Index", "EventRole")
        @Html.ActionLink("Івенти", "Index", "Event")
    }
</div>
