<div class="left-menu">
    <a href="#">
        Візити
    </a>
    <a href="#">
        Участь у івентах
    </a>
    @Html.ActionLink("Усі івенти", "Index", "Event")
    @Html.ActionLink("Усі ігри", "Games", "Home")
    @Html.ActionLink("Усі платформи", "Platforms", "Home")
    @Html.ActionLink("Ціни", "Prices", "Home")
    @Html.ActionLink("Режим роботи", "Schedule", "Home")
    <a href="#">
        Забронювати місце
    </a>
</div>
