<div class="left-menu">
    @Html.ActionLink("Візити", "Visits", "Event")
    <a href="#">
        Участь у івентах
    </a>
    @Html.ActionLink("Усі івенти", "Index", "Event")
    @Html.ActionLink("Усі ігри", "Index", "Game")
    @Html.ActionLink("Усі платформи", "Index", "Platform")
    @Html.ActionLink("Ціни", "Price", "Club")
    @Html.ActionLink("Режим роботи", "Schedule", "Club")
    <a href="#">
        Забронювати місце
    </a>
</div>
