
@{
    ViewBag.Title = "Games";
}

@{
    var games = ViewData["games"] as List<ComputerClub.Models.Game>;
}

<div class="games">
    @Html.Partial("_LeftMenu")
    <div class="img-div">
        <h3>Усі ігри</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Фото</th>
                    <th>Назва</th>
                    <th>Жанр</th>
                    <th>Платформи</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in games)
                {
                <tr>
                    <td>@item.GameID</td>
                    <td><img src='@Url.Action("GetImage", "Game", new { itemId = item.GameID })'></td>
                    <td><span>@item.Name</span></td>
                    <td>@item.Genre.Name</td>
                    <td>Windows</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
