
@{
    ViewBag.Title = "Home";
}

@{
    var clubs = ViewData["clubs"] as List<ComputerClub.Models.Club>;
    var games = ViewData["games"] as List<ComputerClub.Models.Game>;
    var platforms = ViewData["platforms"] as List<ComputerClub.Models.Platform>;
 }

<div class="main">
    <div class="left-menu">
        <p>
            <h3 class="name-h3">@clubs.First().Name</h3>
            - найкращий комп`ютерний клуб міста
        </p>
        <hr />
        <p>
        <p class="address-p">
            <span class="address-title">Адреса:</span>
            @clubs.First().Street @clubs.First().House
            @clubs.First().Flat
            <span class="address-title">Телефон:</span>
            @clubs.First().Phone<br />
            <span class="address-title">Режим роботи:</span>
            @clubs.First().Schedule
        </p>
        <h3>Анонси</h3>
        <h3>Останні події</h3>
        <p class="last-events">
            <a href="#">
                З 19.12.2019 14:00
                по 21.12.2019 20:00 Відбувся
                Турнір по <span class="game-name">CS GO</span>
            </a>
        </p>
        <p class="last-events">
            <a href="#">
                З 19.12.2019 14:00
                по 21.12.2019 20:00 Відбувся
                Турнір по <span class="game-name">CS GO</span>
            </a>
        </p>
        <p class="last-events">
            <a href="#">
                З 19.12.2019 14:00
                по 21.12.2019 20:00 Відбувся
                Турнір по <span class="game-name">CS GO</span>
            </a>
        </p>
        <p class="last-events">
            <a href="#">
                Та інші...
            </a>
        </p>
        <h3>Ігри</h3>
        <p class="game-list">
            @foreach (var item in games)
            {
                <span>@item.Name</span><br />
            }
            <a href="#">
                Та інші...
            </a>
        </p>
        <h3>Платформи</h3>
        <p class="game-list">
            @foreach (var item in platforms)
            {
                <span>@item.Name</span><br />
            }
            <a href="#">
                Та інші...
            </a>
        </p>
    </div>
    <div class="img-div">
        <img src="http://cyberzone.kiev.ua/img/main.png">
        <img src="http://cyberzone.kiev.ua/img/comp.png">
    </div>
</div>