
@{
    ViewBag.Title = "Games";
}

@{
    var clubs = ViewData["clubs"] as List<ComputerClub.Models.Club>;
    var club = clubs.First();
}

<div class="games">
    @Html.Partial("_LeftMenu")
    <div class="img-div">
        <h3>Наш клуб</h3>
        <div class="add-div">
            <a href='@Url.Action("Edit", "Club",
               new { ClubID = club.ClubID })'
               class="mybtn-warning">
                Редагувати клуб
            </a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Назва</th>
                    <th>Адреса</th>
                    <th>Телефон</th>
                    <th>Розклад</th>
                    <th>Ціни</th>
                    <th>Лого</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@club.Name</td>
                    <td>
                        @club.Street @club.House
                        @club.Flat
                    </td>
                    <td>@club.Phone</td>
                    <td>@Html.ActionLink("Розклад", "Index", "Schedule")</td>
                    <td>@Html.ActionLink("Ціни", "Index", "Price")</td>
                    <td>@Html.ActionLink("Лого", "Index", "Logo")</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
