
@{
    ViewBag.Title = "Genres";
}

@{
    var genres = ViewData["genres"] as List<ComputerClub.Models.Genre>;
    var i = 1;
}

<div class="games">
    @Html.Partial("_LeftMenu")
    <div class="img-div">
        <h3>Усі жанри</h3>
        <div class="add-div">
            <a href='@Url.Action("Create", "Genre")'
               class="mybtn-warning">
                Додати жанр
            </a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Назва</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in genres)
                {
                    <tr>
                        <td>@i @{i++;}</td>
                        <td><span>@item.Name</span></td>
                        <td>
                            <a href='@Url.Action("Edit", "Genre",
                                    new { GenreID = item.GenreID })'
                               class="mybtn-warning">
                                Edit
                            </a>
                        </td>
                        <td>
                            <form action='@Url.Action("Delete", "Genre",
                                         new { GenreID = item.GenreID })'
                                  method="post" class="delete-form">
                                <input type="submit" class="mybtn-danger" value="Delete">
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
