@using ComputerClub.Models
@model ComputerClub.Models.EventRole
@{
    ViewBag.Title = "Edit EventRole";
    var eventRole = ViewData["eventRole"] as EventRole;
}

<section id="genreCreateForm">
    @using (Html.BeginForm("Update", "EventRole", new
    {
        EventRoleID = eventRole.EventRoleID,
        ReturnUrl = Url.Action("Index", "EventRole"),
    },
        FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <h2>@ViewBag.Title</h2>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-div">
            @Html.LabelFor(m => m.Name, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @Value = eventRole.Name })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>

        <div class="submit-div">
            <input type="submit" value="Submit" class="mybtn-submit" />
            <a href="@Url.Action("Index", "EventRole")" class="mybtn-danger">
                Cancel
            </a>
        </div>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}