
@{
    ViewBag.Title = "Event Roles";
}

@{
    var eventRoles = ViewData["eventRoles"] as List<ComputerClub.Models.EventRole>;
    var i = 1;
}

<div class="games">
    @Html.Partial("_LeftMenu")
    <div class="img-div">
        <h3>Усі типи відвідувачів</h3>
        <div class="add-div">
            <a href='@Url.Action("Create", "EventRole")'
               class="mybtn-warning">
                Додати тип відвідувача
            </a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Назва</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in eventRoles)
                {
                <tr>
                    <td>@i @{i++;}</td>
                    <td><span>@item.Name</span></td>
                    <td>
                        <a href='@Url.Action("Edit", "EventRole",
                                    new { EventRoleID = item.EventRoleID })'
                           class="mybtn-warning">
                            Edit
                        </a>
                    </td>
                    <td>
                        <form action='@Url.Action("Delete", "EventRole",
                                         new { EventRoleID = item.EventRoleID })'
                              method="post" class="delete-form">
                            <input type="submit" class="mybtn-danger" value="Delete">
                        </form>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
