
@{
    ViewBag.Title = "Clubs";
}

@{
    var halls = ViewData["halls"] as List<ComputerClub.Models.Hall>;
    var i = 1;
}

<div class="games">
    @Html.Partial("_LeftMenu")
    <div class="img-div">
        <h3>Усі зали</h3>
        <div class="add-div">
            <a href='@Url.Action("Create", "Hall")'
               class="mybtn-warning">
                Додати зал
            </a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Назва</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in halls)
                {
                <tr>
                    <td>@i @{i++;}</td>
                    <td><span>@item.Name</span></td>
                    <td>
                        <a href='@Url.Action("Edit", "Hall",
                                    new { HallID = item.HallID })'
                           class="mybtn-warning">
                            Edit
                        </a>
                    </td>
                    <td>
                        <form action='@Url.Action("Delete", "Hall",
                                         new { HallID = item.HallID })'
                              method="post" class="delete-form">
                            <input type="submit" class="mybtn-danger" value="Delete">
                        </form>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
