@using ComputerClub.Models
@model ComputerClub.Models.Event
@{
    ViewBag.Title = "Add Event";
    var eventTypes = ViewData["eventTypes"] as List<EventType>;
    var halls = ViewData["halls"] as List<Hall>;
    var games = ViewData["games"] as List<Game>;
}

<section id="genreCreateForm">
    @using (Html.BeginForm("Store", "Event", new
    {
        ReturnUrl = Url.Action("Index", "Event"),
    },
        FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <h2>@ViewBag.Title</h2>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="big-form-div">
            <div class="myform-group">
                <label class="control-label" for="EventTypeID">Тип івенту</label><br/>
                <select name="EventTypeID" id="EventTypeID">
                    @foreach (var item in eventTypes)
                    {
                        <option value=@item.EventTypeID>
                            @item.Name
                        </option>
                    }
                </select>
            </div>

            <div class="myform-group">
                <label class="control-label" for="HallID">Зал</label><br/>
                <select name="HallID" id="HallID">
                    @foreach (var item in halls)
                    {
                        <option value=@item.HallID>
                            @item.Name
                        </option>
                    }
                </select>
            </div>

            <div class="myform-group">
                <label class="control-label" for="GameID">Гра</label><br/>
                <select name="GameID" id="GameID">
                    @foreach (var item in games)
                    {
                        <option value=@item.GameID>
                            @item.Name
                        </option>
                    }
                </select>
            </div>

            <div class="myform-group">
                <label class="control-label" for="Description">Опис</label><br/>
                <textarea name="Description" id="Description"
                          rows="10" cols="40">   
                </textarea>
            </div>

            <div class="myform-group">
                <label class="control-label" for="Price">Ціна</label><br/>
                <input type="number" name="Price" id="Price" />
            </div>

            <div class="myform-group">
                <label class="control-label" for="StartDate">Дата початку</label><br/>
                <input type="datetime-local" name="StartDate" id="StartDate" />
            </div>

            <div class="myform-group">
                <label class="control-label" for="EndDate">Дата закінчення</label><br/>
                <input type="datetime-local" name="EndDate" id="EndDate" />
            </div>
        </div>

        <div class="submit-div">
            <input type="submit" value="Submit" class="mybtn-submit" />
            <a href="@Url.Action("Index", "Event")" class="mybtn-danger">
                Cancel
            </a>
        </div>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}