
@{
    ViewBag.Title = "Index";
}

@{
    var events = ViewData["events"] as List<ComputerClub.Models.Event>;
}

<div class="platforms">
    @Html.Partial("_LeftMenu")
    <div class="img-div">
        <h3>Усі івенти</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Назва івенту</th>
                    <th>Дата і час початку івенту</th>
                    <th>Дата і час кінця івенту</th>
                    <th>Ціна</th>
                    <th>Зал</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in events)
                {
                    <tr>
                        <td>
                            <a href="#">
                                @item.EventType.Name по
                                <span>@item.Game.Name</span>
                            </a>
                        </td>
                        <td>@item.StartDate.Value.ToString("g")</td>
                        <td>@item.EndDate.Value.ToString("g")</td>
                        <td>@item.Price грн.</td>
                        <td>@item.Hall.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

