
@{
    ViewBag.Title = "Index";
}

@{
    var events = ViewData["events"] as List<ComputerClub.Models.Event>;
}

<div class="platforms">
    @Html.Partial("_LeftMenu")
    <div class="img-div">
        <h3>Усі івенти</h3>
        @if (Roles.IsUserInRole("Admin"))
        {
            <div class="add-div">
                <a href='@Url.Action("Create", "Event")'
                   class="mybtn-warning">
                    Додати івент
                </a>
            </div>
        }
        <table class="table">
            <thead>
                <tr>
                    <th>Назва івенту</th>
                    <th>Дата і час початку івенту</th>
                    <th>Дата і час кінця івенту</th>
                    <th>Ціна</th>
                    <th>Зал</th>
                    @if (Roles.IsUserInRole("Admin"))
                    {
                        <th></th>
                        <th></th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in events)
                {
                <tr>
                    <td>
                        @Html.ActionLink(item.EventType.Name + " по " + item.Game.Name,
                        "Show", "Event", new { ID = item.EventID }, null )
                    </td>
                    <td>@item.StartDate.Value.ToString("g")</td>
                    <td>@item.EndDate.Value.ToString("g")</td>
                    <td>@item.Price грн.</td>
                    <td>@item.Hall.Name</td>
                    @if (Roles.IsUserInRole("Admin"))
                    {
                        <td>
                            <a href='@Url.Action("Edit", "Event",
                                    new { EventID = item.EventID })'
                               class="mybtn-warning">
                                Edit
                            </a>
                        </td>
                        <td>
                            <form action='@Url.Action("Delete", "Event",
                                         new { EventID = item.EventID })'
                                  method="post" class="delete-form">
                                <input type="submit" class="mybtn-danger" value="Delete">
                            </form>
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

